.setLook {
    width: 350px;
    min-height: 500px;
    max-height: max-content;
    background: linear-gradient(65deg, rgb(50, 52, 48), rgb(229, 229, 230));
    box-shadow: 3px 4px 4px rgb(90, 83, 83);
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 12px;
}

@media (max-width: 750px) {
    .setLook {
        width: 320px;
        min-height: 450px;
        max-height: max-content;
    }
}