.setLook {
    width: 350px;
    height: 450px;
    border: 1px solid teal;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

@media (max-width: 750px) {
    .setLook {
        width: 340px;
        height: 400px;
    }
}