.basket {
    width: 100%;
    min-height: calc(100vh - 113px);
    text-align: center;
    padding: 0 66px 30px 66px;

    .basket__wrapper {
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        text-align: initial;
        margin-top: 40px;
    }

    .total {
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        line-height: 40px;
        text-align: left;
        border-top: 1px solid teal;
        margin-top: 30px;
        padding-top: 30px;

        .total__price {
            font-weight: 700;
            font-size: 28px;
            line-height: 29px;
        }
    }
}

@media (max-width: 750px) {
    .basket {
        padding: 20px 10px;
    }
}