.checkout {
    width: 100%;
    min-height: calc(100vh - 190px);
    background-image: url('../../image/bg_checkout.jpg');
    background-repeat: no-repeat;
    background-position: 75% 75%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;

    .checkout__title {
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        margin: 15px 0;
    }

    .checkout__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        margin: 40px 0 20px 0;
    }
}

@media (max-width: 750px) {
    .checkout {
        padding: 10px 10px 40px 10px;
    }
}